<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>complain page</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="nav-item navbar-right">
                <a class="btn btn-danger h4 link-danger" th:href="@{/logout}">Logout</a>
            </div>
            
      <div class="card-header text-center bg-info h5">
     <b>Registration No: </b> <p th:text="${student.registrationNumber}" class="bg-light"></p>
     <b>Name: </b> <p th:text="${student.firstName}" class="bg-light"></p>
     <b>Semister: </b> <p th:text="${student.semister}" class="bg-light"></p>
     <b>Branch: </b> <p th:text="${student.Branch}" class="bg-light"></p>
     <b>Email: </b> <p th:text="${student.email}" class="bg-light"></p>
     <b>Mobile: </b> <p th:text="${student.mobile}" class="bg-light"></p>
      
      </div>
      
      <h4 class="text-danger">Please write your complaint</h4>
      
      <form th:action="@{/savecomplaint/{registrationNumber} (registrationNumber=${student.registrationNumber})}" th:object="${complaint}" method="post">
      
      <input type="hidden" th:field="${student.registrationNumber}"/>
  <label class="form-label" for="textAreaExample2" th:text="${sendcomplaint}"></label>
      <div class="form-outline">
  <textarea class="form-control" id="textAreaExample2" rows="5" th:field="*{complaint}" placeholder="Enter your complaint" ></textarea>
  <p th:if="${#fields.hasErrors('complaint')}" class="text-danger" th:errors="*{complaint}"></p>
  <button type="submit" class="btn btn-danger ">send</button>  
</div>

</form>

</body>
</html>