<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title> Update Student Registration</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div align="center">
     
		<div class="card" style="width: 55rem; ">
		  <div class="card-header text-center bg-info ">
		    <h3>Update Student Register</h3>
		  </div>
                    
                    <p th:text="${emailerror}" class="text-danger h2"></p>
  				    <p th:text="${success}" class="text-danger h3"></p>
  				    <p th:text="${registrationNumberError}" class="text-danger h3"></p>
                    
		  <div class="card-body">
		   <form th:action="@{/saveUpdate/{id} (id=${student.id})}" method="post" th:object="${student}">
		   
		   <div class="form-group"  align="justify">
		    <label><b>Registration Number</b></label>
		    <input type="number" class="form-control"   th:field="*{registrationNumber}" placeholder=" Enter registrationNumber" readOnly>
		  </div>
		  <p th:if="${#fields.hasErrors('registrationNumber')}" class="text-danger" th:errors="*{registrationNumber}"></p>
		   
		  <div class="form-group"  align="justify">
		    <label><b>First Name</b></label>
		    <input type="text" class="form-control"   th:field="*{firstName}" placeholder="Enter firstName">
		  </div>
		  <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>
		  
		  <div class="form-group" align="justify">
		    <label ><b>Last Name</b></label>
		    <input type="text" class="form-control"  th:field="*{lastName}" placeholder="Enter lastName" >
		  </div>
		  <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></p>
		  
		  <div class="form-group" align="justify">
		    <label ><b>Email</b></label>
		    <input type="email" class="form-control"  th:field="*{email}" placeholder="Enter email">
		  </div>
		  <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
		  
		  <div class="form-group" align="justify">
		    <label ><b>Mobile Number</b></label>
		    <input type="tel" class="form-control"  th:field="*{mobile}" placeholder="Enter mobile">
		  </div>
		  <p th:if="${#fields.hasErrors('mobile')}" class="text-danger" th:errors="*{mobile}"></p>
		  
		  <div class="form-group" align="justify">
		  <label ><b>Semister: </b></label>
		  <select th:field="*{semister}" required>
			    <option value="1st">1 semister</option>
			    <option value="2nd">2nd semister</option>
			    <option value="3rd">3rd semister</option>
			    <option value="4th">4th semister</option>
			    <option value="5th">5th semister</option>
			    <option value="6th">6th semister</option>
			    <option value="7th">7th semister</option>
			    <option value="8th">8th semister</option>
			</select>
			</div>
			
			<div class="form-group" align="justify">
		  <label ><b>Branch: </b></label>
		  <select th:field="*{branch}" required>
			    <option value="Mechanical">Mechanical</option>
			    <option value="Civil">Civil</option>
			    <option value="Electrical and Electronics">Electrical and Electronics</option>
			    <option value="Chemical">Chemical</option>
			    <option value="Computer Science">Computer Science</option>
			    <option value="Aerospace">Aerospace</option>
			    <option value="Mining">Mining</option>
			    <option value="Automobile Engineering">Automobile Engineering</option>
			</select>
			</div>
			
			<div class="form-group" align="justify">
		    <label ><b>Password</b></label>
		    <input type="password" class="form-control"  th:field="*{password}" placeholder="Enter password">
		  </div>
		  <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></p>
		  
		  <div class="form-group" align="justify">
		    <label ><b>Confirm Password</b></label>
		    <input type="text" class="form-control"  th:field="*{confirmPassword}" placeholder="Enter confirmPassword">
		  </div>
		  <p th:text="${error}" class="text-danger"></p>
		  <p th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger" th:errors="*{confirmPassword}"></p>
		  
		   <div class="form-group">
		          
		            </div>
		        </div>
		  <button type="submit" class="btn btn-primary">Update</button>
		</form>    
		  </div>
		</div>
		</div>
     </div>
</body>
</html>